In [1]:
# Importing Modules
import pandas as pd

In [20]:
# Reading in CSV File

filepath = '../Resources/reported_hospital_utilization_timeseries_20201206_2146 (1).csv'
df = pd.read_csv(filepath)

#Printing Unique Values in State
df['state'].value_counts().count()

53

In [24]:
# Removing DC, VI, and PR to get 50 States
df_clean_state = df.loc[(df['state']!= 'DC') & (df['state']!= 'VI') & (df['state']!= 'PR') ]

#Displaying Unique Values in State
df_clean_state['state'].value_counts().count()

50

In [48]:
# This Dataset will Cover Jan 1,2020 to November 30, 2020

#Removing December Dates
df_clean_date = df_clean_state.loc[(df_clean_state['date']!= '2020-12-01')
                                  & (df_clean_state['date']!= '2020-12-02')
                                  & (df_clean_state['date']!= '2020-12-03')
                                  & (df_clean_state['date']!= '2020-12-04')
                                  & (df_clean_state['date']!= '2020-12-05')
                                  & (df_clean_state['date']!= '2020-12-06')]

In [59]:
df_clean_col = df_clean_date[['state', 'date', 'inpatient_beds', 'inpatient_beds_used', 'inpatient_beds_used_covid']]
df_clean_col = df_clean_col.rename(columns={'state':'State', 'date':'Date',
                                           'inpatient_beds':'Total Available Beds',
                                           'inpatient_beds_used':'Beds Used',
                                           'inpatient_beds_used_covid': 'Beds Used by COVID'})

      State        Date  Total Available Beds  Beds Used  Beds Used by COVID
367      WA  2020-11-30               13138.0     8649.0              1058.0
420      WA  2020-11-29               13832.0     9033.0               981.0
473      WA  2020-11-28               13755.0     8950.0               970.0
526      WA  2020-11-27               13835.0     8953.0               951.0
579      WA  2020-11-26               13874.0     9132.0               946.0
...     ...         ...                   ...        ...                 ...
14495    WA  2020-08-28               10273.0     9145.0               444.0
14548    WA  2020-08-27               10069.0     9237.0               467.0
14601    WA  2020-08-26                9937.0     9186.0               475.0
14654    WA  2020-08-25                9928.0     8884.0               459.0
14707    WA  2020-08-24                9902.0     6038.0               299.0

[277 rows x 5 columns]